<div class="container-fluid alert-primary">
  <div class="card border-light mb-3" style="max-width: 100rem;">
    <div class="card-header">
      <h1 class="display-2"><p>自己プレゼン</p></h1>
    </div>
    <div class="card-body" style="height: 42rem">
      <div class="accordion" id="body_accordion">
        <div class="row">
          <div class="col-3">
            <ul class="list-unstyled">
              <ul>
                <p>
                <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapseTop"
                  aria-expanded="false" aria-controls="multiCollapseExample2"><li>トップページ</li></button>
                </p>
                <p>
                <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapseContents"
                  aria-expanded="false" aria-controls="multiCollapseExample2"><li>目次</li></button>
                </p>
                <div class="collapse multi-collaps" id="multiCollapseContents">
                  <ul>
                    <p>
                    <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapseMyself"
                      aria-expanded="false" aria-controls="multiCollapseExample2"><li>自己紹介</li></button>
                    </p>
                    <p>
                    <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapsePast"
                      aria-expanded="false" aria-controls="multiCollapseExample2"><li>これまでやってきたこと。</li></button>
                    </p>
                    <div class="collapse multi-collaps" id="multiCollapsePast">
                      <ul>
                        <p>
                          <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapsePastIos"
                            aria-expanded="false" aria-controls="multiCollapseExample2"><li>iosのアプリケーション</li></button>
                        </p>
                        <p>
                          <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapsePastCar"
                            aria-expanded="false" aria-controls="multiCollapseExample2"><li>ラジコンカー</li></button>
                        </p>
                        <p>
                          <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapsePastCoin"
                            aria-expanded="false" aria-controls="multiCollapseExample2"><li>自動売買システム</li></button>
                        </p>
                        <p>
                          <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapsePastAi"
                            aria-expanded="false" aria-controls="multiCollapseExample2"><li>AI</li></button>
                        </p>
                        <p>
                          <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapsePastWeb"
                            aria-expanded="false" aria-controls="multiCollapseExample2"><li>webアプリケーション</li></button>
                        </p>
                        <div class="collapse multi-collaps" id="multiCollapsePastWeb">
                          <ul>
                            <p>
                              <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapsePastWeb1"
                                aria-expanded="false" aria-controls="multiCollapseExample2">1</button>
                              <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapsePastWeb2"
                                aria-expanded="false" aria-controls="multiCollapseExample2">2</button>
                              <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapsePastWeb3"
                                aria-expanded="false" aria-controls="multiCollapseExample2">3</button>
                              <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapsePastWeb4"
                                aria-expanded="false" aria-controls="multiCollapseExample2">4</button>
                            </p>
                          </ul>
                        </div>
                      </ul>
                    </div>
                    <p>
                    <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapseNow"
                      aria-expanded="false" aria-controls="multiCollapseExample2"><li>現在の私について。</li></button>
                    </p>
                    <p>
                    <button class="btn" type="button" data-toggle="collapse" data-target="#multiCollapseFuture"
                      aria-expanded="false" aria-controls="multiCollapseExample2"><li>これからのこと。</li></button>
                    </p>
                  </ul>
                </div>
              </ul>
            </ul>
          </div>
          <div class="col-9">
            <div class="collapse multi-collaps" id="multiCollapseTop" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <div class="row">
                    <%= image_tag('sapotazu') %>
                  </div>
                </p>
                <br><br><br>
                <h1> 　　　エンジニア 1on1面談会</h1>
                <br>
                <h1 class="display-3" align="center">自己プレゼン</h1>
                <br><br><br>
                <h2>　　　　　　　　　　　　　　　　　穂積 和貴</h2>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapseContents" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">目次</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-8">
                    <h3><li>自己紹介</li></h3>
                    <br>
                    <h3><li>これまでやってきたこと。</li></h3>
                    <br>
                    <h3><li>現在の私について。</li></h3>
                    <br>
                    <h3><li>これからのこと。</li></h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapseMyself" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">自己紹介</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-7">
                    <h4><li>名前：穂積 和貴</li></h4>
                    <br>
                    <h4><li>学校：会津大学 コンピュータ理工学部</li></h4>
                    <h4>　　　　コンピュータ理工学科 3年</h4>
                    <br>
                    <h4><li>研究室：組み込みシステム講座学</li></h4>
                    <h4>　　　　　　(動画像解析＋機械学習)</h4>
                    <br>
                    <h4><li>趣味：ネットサーフィン</li></h4>
                    <h4>　　　　投資</h4>
                    <h4>　　　　　(株、仮想通貨、ロボアドバイザー)</h4>
                    <br>
                    <h4><li>学習スタイル：基本は一人で黙々と</li></h4>
                  </div>
                  <div class="col-4">
                    <br><br>
                    <%= image_tag('aidudaigaku') %>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapsePast" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">これまでやってきたこと。</h1>
                </p>
                <h3 align="center">※自主的に※</h3>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-7">
                    <h3><li>iosのアプリケーション</li></h3>
                    <br>
                    <h3><li>ラジコンカー</li></h3>
                    <br>
                    <h3><li>仮想通貨の自動売買システム</li></h3>
                    <br>
                    <h3><li>AI</li></h3>
                    <br>
                    <h3><li>webアプリケーション</li></h3>
                    <div class="row">
                      <div class="col-4">
                      </div>
                      <%= image_tag('coin') %>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="row">
                      <div class="col-2">
                      </div>
                      <div class="col-7">
                        <%= image_tag('spring') %>
                      </div>
                    </div>
                    <br><br>
                    <%= image_tag('ai') %>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapsePastIos" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">iosのアプリケーション</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-11">
                    <h3><li>学部1年の夏休みに製作を試みる。</li></h3>
                    <br>
                    <h3><li>夏休み中に1つ作り上げることができなかった。</li></h3>
                    <br>
                    <h3><li>学校が始まると授業が多く、製作の継続を断念。</li></h3>
                    <br>
                    <h2>　　　　…書く必要なかったかも…</h2>
                    <br>
                    <div class="row">
                      <div class="col-6">
                      </div>
                      <%= image_tag('swift') %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapsePastCar" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">ラジコンカー</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-7">
                    <h4><li>「ものづくり基本講座」という新しい科目の<br>　試行に推薦された。</li></h4>
                    <h4>　　　　　↓</h4>
                    <h4>　　　やってみよう！</h4>
                    <h4>　　　　　↓</h4>
                    <h4><li>Arduinoを用いてラジコンカーを作成。</li></h4>
                    <h4>　　　　　↓</h4>
                    <h4>　　　　楽しい！！</h4>
                    <h4>　　　　　↓</h4>
                    <h4><li>現在は、RaspberryPiを用いて人工知能を<br>　搭載したラジコンカーをチームで作成中。</li></h4>
                  </div>
                  <div class="col-4">
                    <br><br><br><br>
                    <%= image_tag('car') %>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapsePastCoin" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">仮想通貨の自動売買システム</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-7">
                    <h4><li>開発環境</li></h4>
                    <h4>　　　jupyter　python3</h4>
                    <h4>　　　bitflyer社のapi使用</h4>
                    <br>
                    <h4><li>技術力/ポイント</li></h4>
                    <h4>　　　アルゴリズム</h4>
                    <br>
                    <h4><li>価値</li></h4>
                    <h4>　　　他には誰も知らないはず。</h4>
                    <h4>　　　実際に利益が出ている。</h4>
                    <h4>　　　　(普通にバイトするのと同じくらい)</h4>
                    <br>
                  </div>
                  <div class="col-4">
                    <%= image_tag('coin') %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-4">
                    <h4><li>開発期間</li></h4>
                    <h4>　　　1ヶ月くらい？</h4>
                  </div>
                  <%= image_tag('soneki') %>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapsePastAi" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">AI</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-8">
                    <h4><li>最近やったこと</li></h4>
                    <br>
                    <div class="row">
                      <div class="col-1">
                      </div>
                      <div class="col-11">
                        <h4><li>青空文庫のデータから著者ごとの特徴を抽出し、 <br> 　誰の著書だかを当てるモデル。</li></h4>
                        <h4>　　　(ランダムフォレスト)</h4>
                        <br>
                        <h4><li>住宅価格を予測するモデル。</li></h4>
                        <h4>　　　(重回帰分析)</h4>
                        <br>
                        <h4><li>リアルタイム物体検出</li></h4>
                        <h4>　　　(SSD:Single Shot MultiBox Detector)</h4>
                        <br><br>
                        <h2>Qiitaで面白そうな物を見つけて</h2>
                        <h2>遊んでます！！</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapsePastWeb" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">webアプリケーション</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-11">
                    <h5>　※webアプリケーションは話したいことが多いのでページを分けます！！</h5>
                    <br><br>
                    <h2>目次</h2>
                    <br>
                    <ul>
                      <h4>１．Scala, Go</h4>
                      <br>
                      <h4>２．Java</h4>
                      <br>
                      <h4>３．Ruby(個人開発)</h4>
                      <br>
                      <h4>４．Ruby(チーム開発)</h4>
                      <br>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapsePastWeb1" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">webアプリケーション</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-9">
                    <p><h3><li>Scala</li></h3></p>
                    <p><h4>　　　個人開発のみ</h4></p>
                    <p><h4>　　　　　・基礎技術向上を目的に、<br>
                      　　　　　　CRUD(Create, Read, Update, Delete)を備えた<br>
                      　　　　　　webアプリケーションを作成してみた。</h4></p>
                    <p><h4>　　　　　　　　Playフレームワーク2を使用</h4></p><br>
                    <p><h3><li>Go</li></h3><p>
                    <p><h4>　　　個人開発</h4></p>
                    <p><h4>　　　　　・基礎技術向上を目的に、<br>
                      　　　　　　CRED(Create, Read, Update, Delete)を備えた<br>
                      　　　　　　  webアプリケーションを作成してみた。</h4></p>
                    <br>
                  </div>
                  <div class="col-2">
                    <br><br><br><br><br><br><br><br><br>
                    <%= image_tag('play') %>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapsePastWeb2" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">webアプリケーション</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-9">
                    <p><h3><li>Java</li></h3></p>
                    <p><h4>　　　チーム開発</h4></p>
                    <p><h4>　　　　　・エンジニア4人＋デザイナー1人で<br>
                      　　　　　　webサービスに新規機能を追加。<br>
                      　　　　　　（インターン）</h4></p>
                    <p><h4>　　　　　　　　springフレームワークを使用</h4></p><br>
                    <br>
                  </div>
                  <div class="col-2">
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapsePastWeb3" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">webアプリケーション</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-9">
                    <p><h3><li>Ruby on Rails</li></h3></p>
                    <p><h4>　　　個人開発</h4></p>
                    <p><h4>　　　　　・ScalaやGoと同じ理由で<br>
                      　　　　　　CREDなアプリケーションを作成。</h4></p>
                    <p><h4>　　　　　・このプレゼン(ローカル)</h4></p>
                    <p><h4>　　　　　・現在、個人でサーバーを借りて、インターネットで<br>
                      　　　　　　公開予定のアプリケーションを作成しています。</h4></p>
                    <p><h4>　　　　　　　・作っているもの<br>
                      　　　　　　　　　診断メーカーや質問箱みたいな個人か数人で<br>
                      　　　　　　　　完結するようなサービスを作っている。</h4></hp>
                    <p><h4>　　　　　　　・頑張ったこと<br>
                      　　　　　　　　　firewalldや公開鍵認証を用いてセキュリティー<br>
                      　　　　　　　　を高めたり、Capistranoで簡単にデプロイできる<br>
                      　　　　　　　　ようにした。</h4></p>
                    <br>
                  </div>
                  <div class="col-2">
                    <br><br><br><br><br><br><br><br><br>
                    <%= image_tag('rails') %>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapsePastWeb4" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">webアプリケーション</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-9">
                    <p><h3><li>Ruby on Rails</li></h3></p>
                    <p><h4>　　　チーム開発</h4></p>
                    <p><h4>　　　　　・エンジニア3人でとあるwebサービスの複製を作成。<br>
                      　　　　　　（インターン）<br>
                      　　　　　　　→　最終日に行われた好評で最高得点が貰えた。</h4></p>
                    <p><h4>　　　　　・会津大学で行われたOpenAppLabハッカソンで、<br>
                      　　　　　　webアプリケーションを作成。</h4></p>
                    <p><h4>　　　　　　　・作成したもの<br>
                      　　　　　　　　　口頭で説明します。</h4></hp>
                    <p><h4>　　　　　　　・優秀賞を獲得しました。</h4></p>

                    <br>
                  </div>
                  <div class="col-2">
                    <br><br><br><br><br><br><br><br><br>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapseNow" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">現在の私について。</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-11">
                    <h4><li>現在作成中のモノ</li></h4>
                    <br>
                    <div class="row">
                      <div class="col-1">
                      </div>
                      <div class="col-7">
                        <h4><li>人工知能を搭載したラジコンカー</li></h4>
                        <br>
                        <h4><li>webアプリケーション</li></h4>
                        <br>
                        <h4><li>人工知能では遊んでます！</li></h4>
                        <br>
                      </div>
                    </div>
                    <br>
                    <h4><li>自分の技術を伸ばすために、様々なモノを作成したり、インターン、<br>
                      　ハッカソンなどにも積極的に参加しています。最近は、就活も始まって<br>
                      　きたので、忙しさが倍増しましたが、忙しいのが好きなので毎日が楽しいです！</li></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="collapse multi-collaps" id="multiCollapseFuture" data-parent="#body_accordion">
              <div class="card card-body alert-secondary" style="height: 40rem">
                <p>
                  <h1 class="display-5" align="center">これからのこと。</h1>
                </p>
                <br>
                <div class="row">
                  <div class="col-1">
                  </div>
                  <div class="col-11">
                    <h3><li>将来は、web系の企業に入りたい。そして、webアプリケーションエンジニアになりたい。</li></h3><br>
                    <h3>どんなweb系？</h3>
                    <h5>BtoCの自社サービスを展開しており、</h5>
                    <h5>多くのユーザーに利用・注目してもらえる企業。</h5><br>
                    <h3>なんでwebアプリケーションエンジニア？</h3>
                    <h5>他にも理由はあるが、一番の理由は、今まで様々なことに</h5>
                    <h5>挑戦してきた中で一番面白いなと感じているから。</h5><br>
                    <h3><li>未来像</li></h3>
                    <h5>仕事と趣味でひたすらに知識をつけてwebアプリケーションのスペシャリストになりたい。</h5>
                    <h5>そして、ある程度の技術を身につけた後には、マネジメントに携わっていきたい。</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
